<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link href="/stylesheets/autocomplete.css" rel="stylesheet" >
		<!--<link href="/fonts/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">-->
    </head>
    <body ng-controller="menuController" ng-cloak>
    <nav class="navbar navbar-inverse navbar-fixed-top {{menuClass}}" role="navigation">
        <div class="container">
				<div class="menu-triger-holder">
					<button id="tiger-main-menu" class="btn-main-menu {{menuClass}}" ng-click="changeMenuClass()">
						<span></span>
					</button>
				</div>
				<div id="logo-holder">
					<a href="#/"><img class="img-responsive" src="/images/company-logo.png" alt="company logo"></a>
				</div>
                <a class="cart-img-holder" href="#shoppingcart">
                    <img class="cart-img" src="/images/banner-1-ecommerce.png">
                </a>
                <div ng-if="!sessionStorage.currentUser">
                    <a ng-href="#/login">
                        Sign in
                    </a>
                    <a ng-href="#/register">
                        Sign up
                    </a>
                </div>
                <div ng-if="sessionStorage.currentUser">
                    <a ng-href="#/myprofile">
                        My Profile
                    </a>
                    <button ng-click="logout()">Logout</button>
                </div>
				<span class="ico icon-search"></span>
				<label for="general-search"><i class="fa fa-search"></i></label>
				<input  auto-complete
                        ng-model="selected" type="text"
                        id="general-search"
                        name="general-search"
                        placeholder="Search"/>
        </div>
        <!-- /.container -->
    </nav>
	<nav id="menu-outer-wrapper" class="menu-outer-wrapper" ng-click="">
		<div class="main-menu-container has-no-scrollbar">
			<ul role="navigation" id="main-menu" class="main-menu">
				<li style="padding-top:10px; padding-bottom: 10px;">
					<a href="#/" class="category-link">Home</a>
				</li>
				<% categories.forEach(function(category, index) { %>
				<li>
					<div class="menu-category">
						<a href="javascript:void(0)" class="category-link"><%= category.name %></a><i class="fa fa-plus"></i>
					</div>
					<% if(category.subCategories) { %>
					<ul class="menu-subcategory">
						<li>
							<a href="#category/<%-category.name%>" class="category-link">All</a>
						</li>
						<% category.subCategories.forEach(function(subCategory, index) { %>
						<li>
							<a ng-href="#category/<%-category.name%>/<%- subCategory.name%>" class="category-link"> <%= subCategory.name %> </a>
						</li>
						<% }); %>
						
					</ul>
					<% } %>
				</li>
				 <% });%>
			</ul>
		</div>
	</nav>
	<div class="overlay-blur {{menuClass}}"></div>
		