<div class="thumbnail">
    <img src="<%= product.image[0].url %>" class="img-responsive" alt="">
    <div class="caption">
        <h4 class="pull-right"><%= product.price %></h4>
        <h4><a href="#product/<%= product._id %>"><%= product.name %></a>
        </h4>
        <p>
            <%= product.description %>
        </p>
    </div>
    <div class="ratings">
        <div class="clearfix">
            <div class="buy-section">
                <div>
                    <% product.stars.forEach(function(star, index){  %>
                    <span class="glyphicon glyphicon-star">

                    </span>
                    <% });%>
                </div>
            </div>
            <p class="pull-right reviews"> <%= product.reviews %> reviews</p>
        </div>
    </div>
</div>